@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
h1 {
  font-family: "samantha";
  color: #b17e20; }

h2 {
  font-family: "samantha";
  color: #b17e20; }

h3 {
  font-family: "samantha";
  color: #b17e20; }

h4 {
  font-family: "samantha";
  color: #b17e20; }

h5 {
  font-family: "samantha";
  color: #b17e20; }

h6 {
  font-family: "samantha";
  color: #b17e20; }

* {
  font-family: 'Roboto', sans-serif; }

/* font-family: 'Butterfly Kids', cursive;*/
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Rufina', serif; */
/*font-family: 'Shadows Into Light', cursive;*/
/*font-family: 'Permanent Marker',
cursive;*/
@font-face {
  font-family: samantha;
  src: url("../font/samantha.ttf") format("truetype"); }

/*INDEX*/
.separador {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid meet' overflow='visible' height='100%' viewBox='0 0 126 26' fill='rgb(210, 105, 30)' stroke='none'%3E%3Cpath d='M3,10.2c2.6,0,2.6,2,2.6,3.2S4.4,16.5,3,16.5s-3-1.4-3-3.2S0.4,10.2,3,10.2z M18.8,10.2c1.7,0,3.2,1.4,3.2,3.2s-1.4,3.2-3.2,3.2c-1.7,0-3.2-1.4-3.2-3.2S17,10.2,18.8,10.2z M34.6,10.2c1.5,0,2.6,1.4,2.6,3.2s-0.5,3.2-1.9,3.2c-1.5,0-3.4-1.4-3.4-3.2S33.1,10.2,34.6,10.2z M50.5,10.2c1.7,0,3.2,1.4,3.2,3.2s-1.4,3.2-3.2,3.2c-1.7,0-3.3-0.9-3.3-2.6S48.7,10.2,50.5,10.2z M66.2,10.2c1.5,0,3.4,1.4,3.4,3.2s-1.9,3.2-3.4,3.2c-1.5,0-2.6-0.4-2.6-2.1S64.8,10.2,66.2,10.2z M82.2,10.2c1.7,0.8,2.6,1.4,2.6,3.2s-0.1,3.2-1.6,3.2c-1.5,0-3.7-1.4-3.7-3.2S80.5,9.4,82.2,10.2zM98.6,10.2c1.5,0,2.6,0.4,2.6,2.1s-1.2,4.2-2.6,4.2c-1.5,0-3.7-0.4-3.7-2.1S97.1,10.2,98.6,10.2z M113.4,10.2c1.2,0,2.2,0.9,2.2,3.2s-0.1,3.2-1.3,3.2s-3.1-1.4-3.1-3.2S112.2,10.2,113.4,10.2z'/%3E%3C/svg%3E");
  height: 30px;
  background-size: contain; }

.banner {
  background-color: whitesmoke; }

.banner--padding {
  padding-bottom: 1rem; }

.banner__imagen {
  background-image: url("../assets/img/beater.svg"); }

.banner__imagen-tamaño {
  height: 75px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.banner__texto {
  font-family: "samantha", true-type;
  /*  texto en ruffina*/ }

.banner__texto--ruffina {
  font-family: 'Rufina', serif; }

.banner__texto--color {
  color: #b17e20; }

.tarjetasIndex__titulo {
  text-align: center; }

.tarjetasIndex__titulo--color {
  color: #b17e20; }

.tarjetasIndex__texto {
  text-align: center; }

.tarjetasIndex__texto--color {
  color: black; }

.dondeEstamos {
  background-color: whitesmoke;
  font-family: "samantha", true-type; }

.dondeEstamos__parrafo {
  font-family: 'Rufina', true-type;
  text-align: center !important;
  color: grey; }

/*MINI GALERIA INDEX*/
#galeria {
  background-color: #e3e3e3;
  text-align: center; }

.section__py {
  padding: 2rem 0; }

.splide__slide img {
  max-width: 100%;
  height: auto; }

.navegacion {
  background-color: whitesmoke; }

.navegacion__link {
  font-family: "samantha", true-type; }

.navegacion__link--color {
  color: #b17e20 !important; }

.navegacion__logo {
  width: 150px; }

.navegacion__logo--margen {
  margin-top: 1rem; }

.navegacion__hamb--color {
  color: #b17e20 !important; }

.quienSoy {
  margin-top: 2rem;
  font-family: "samantha", true-type; }

.quienSoy__titulo {
  font-family: "samantha", true-type; }

.quienSoy__titulo--color {
  color: #b17e20; }

.quienSoy__parrafo {
  font-family: 'Rufina', true-type;
  color: grey;
  text-align: center !important; }

.quienSoy__imagen--size {
  width: 70vw; }
  @media only screen and (min-width: 768px) {
    .quienSoy__imagen--size {
      width: 400px; } }

.queHacemos {
  /*background-color: whitesmoke;*/
  margin-top: 1.5rem !important; }

.queHacemos__titulo {
  font-family: "samantha", true-type; }

.queHacemos__titulo--color {
  color: #b17e20; }

.queHacemos__subTitulo {
  font-family: "samantha", true-type;
  padding-top: 1rem; }

.queHacemos__subTitulo--color {
  color: #b17e20; }

.queHacemos__parrafo {
  font-family: 'Rufina', true-type;
  text-align: center !important; }

.queHacemos__parrafo--color {
  color: grey; }

.nosotrosGaleria {
  width: 90%;
  margin: auto; }
  .nosotrosGaleria div {
    display: grid; }
    @media only screen and (min-width: 576px) {
      .nosotrosGaleria div {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (min-width: 992px) {
      .nosotrosGaleria div {
        grid-template-columns: repeat(6, 1fr); } }
    .nosotrosGaleria div article {
      margin: 0.25rem; }
      .nosotrosGaleria div article a img {
        width: 100%; }

/*formulario contacto*/
.bd {
  display: flex;
  justify-content: center;
  align-items: center; }

#contact_container {
  width: 90%;
  height: auto;
  margin-bottom: 4rem;
  margin-top: 4rem; }
  @media only screen and (min-width: 768px) {
    #contact_container {
      width: 50%; } }

#contact_containerr #contact_form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#contact_container #contact_form form {
  margin-top: 40px;
  /*position: relative;*/
  margin: auto;
  width: 90%;
  height: 100%; }

#contact_container #contact_form .inputBox {
  position: relative;
  margin-bottom: 40px; }

#contact_container #contact_form .inputBox:last-child {
  margin-bottom: 0; }

#contact_container #contact_form .inputBox input,
#contact_container #contact_form .inputBox textarea {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  width: 95%;
  color: black;
  padding-bottom: 10px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 2px solid rgba(0, 0, 0, 0.26);
  resize: none; }

#contact_container #contact_form .inputBox textarea {
  height: 100px; }

#contact_container #contact_form .inputBox input[type="submit"] {
  display: block;
  margin: auto;
  background: blanchedalmond;
  padding: 0.75rem 1rem;
  margin-top: -10px;
  width: auto;
  cursor: pointer;
  background: #b17e20;
  color: blanchedalmond;
  font-size: 18px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px; }

#contact_container #contact_form .inputBox input[type="submit"]:focus {
  color: #111;
  background: #1bfaad; }

#contact_container #contact_form .inputBox span {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  pointer-events: none;
  letter-spacing: 1px;
  color: black;
  transition: all 0.2s; }

#contact_container #contact_form .inputBox input:focus ~ span,
#contact_container #contact_form .inputBox input:valid ~ span {
  transform: translateY(-24px);
  color: #b17e20;
  font-size: 1rem; }

#contact_container #contact_form .inputBox textarea:focus ~ span,
#contact_container #contact_form .inputBox textarea:valid ~ span {
  transform: translateY(-24px);
  color: #b17e20;
  font-size: 1rem; }

#contact_container #contact_form .inputBox input:focus,
#contact_container #contact_form .inputBox input:valid,
#contact_container #contact_form .inputBox textarea:focus,
#contact_container #contact_form .inputBox textarea:valid {
  border-bottom-color: #b17e20; }

/* FIN formulario contact*/
#nuestrosProductos {
  margin-top: 2rem; }

.tarjetasTienda {
  width: 95%;
  margin: auto; }
  @media only screen and (min-width: 1400px) {
    .tarjetasTienda {
      width: 70vw; } }
  .tarjetasTienda div {
    padding: 0 1rem 1rem;
    display: grid; }
    @media only screen and (min-width: 576px) {
      .tarjetasTienda div {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (min-width: 992px) {
      .tarjetasTienda div {
        grid-template-columns: repeat(3, 1fr); } }
    .tarjetasTienda div article:nth-child(2n+1) {
      background: white;
      background: -moz-linear-gradient(128deg, white 57%, #f3e0e0 100%);
      background: -webkit-linear-gradient(128deg, white 57%, #f3e0e0 100%);
      background: linear-gradient(128deg, white 57%, #f3e0e0 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#f3e0e0", GradientType=1); }
    .tarjetasTienda div article:nth-child(2n) {
      background: white;
      background: -moz-linear-gradient(128deg, white 57%, #ddf2e9 100%);
      background: -webkit-linear-gradient(128deg, white 57%, #ddf2e9 100%);
      background: linear-gradient(128deg, white 57%, #ddf2e9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ddf2e9", GradientType=1); }
    .tarjetasTienda div article {
      margin: 1rem;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      display: grid; }
      .tarjetasTienda div article div {
        display: flex;
        flex-direction: column;
        justify-content: space-between; }
        .tarjetasTienda div article div h3 {
          margin: 1rem 0 1rem 0;
          text-align: center;
          font-family: 'Rufina', serif; }
        .tarjetasTienda div article div p {
          overflow: hidden;
          text-align: center;
          margin-left: 0.5rem;
          margin-right: 0.5rem; }
        .tarjetasTienda div article div input {
          margin-right: auto;
          margin-left: auto;
          display: block;
          justify-self: end;
          color: #fff;
          width: 80%;
          font-size: 1rem;
          font-weight: 500;
          padding: 0.5rem 1.2rem;
          background: #b17e20;
          position: relative;
          border: 2px solid #b17e20;
          outline: 1px solid;
          outline-color: #b17e20;
          transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }
        .tarjetasTienda div article div input:hover {
          box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
          outline-color: rgba(49, 138, 172, 0);
          outline-offset: 80px;
          text-shadow: 1px 1px 6px #fff; }
      .tarjetasTienda div article img {
        width: 100%;
        max-width: 100%;
        padding: 1rem;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10%; }

/*CSS FOOTER, es el mismo para todas las paginas*/
.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 10vh; }

.footer__logo {
  grid-column: 1/4;
  background-image: url("../img/logo.png"); }

.footer__logo--tamaño {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px; }

.footer__frase {
  text-align: center;
  margin: auto;
  font-family: "Butterfly kids";
  font-size: 2rem; }

.footer__redes {
  text-align: center;
  grid-column: 1/4; }

.footer__iconos {
  color: #575757;
  font-size: 2.5rem;
  padding-left: 1vw;
  padding-right: 1vw; }

.footer__contacto {
  font-family: "Butterfly kids";
  font-size: 1.5rem;
  margin-left: 2rem;
  text-align: center;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .footer__contacto {
      text-align: start; } }

.creditos {
  background-color: rgba(128, 128, 128, 0.582); }

.creditos__texto--fs {
  font-size: 1rem; }

.creditos__texto--color {
  color: #494949; }

.creditos--padding {
  padding-top: 1rem; }

.creditos__enlace--decoracion {
  text-decoration: none; }

.creditos__enlace--hover:hover {
  color: black; }

.oops__texto {
  font-family: 'Rufina', serif;
  color: #b17e20; }
