@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@font-face {
    font-family: samantha;
    src: url('../font/samantha.ttf') format('truetype');
}
/*prueba*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.logo{
    width: 10vw;
    margin-left: 1vw;
}


nav ul{
    display: inline;
    right: 2vw;
    top: 20%;
    list-style: none; 
}

nav ul li {
    display: inline;
    padding: 1vw;
}

nav ul li a{
    font-family: 'samantha';
    font-weight: 600;
    font-size: 1vw;
    text-decoration-line: none;
    padding-right: 1vw;
    color:chocolate;
    margin-bottom: 50%;     
}

video{
    height: 25vh;
}

h2 {
    color:darkred;
}
table h3{
    color:darkkhaki
}

p{
    color: darkslateblue;
}

.ingredientesTortas{
    color: red;
    list-style-type:'\1F370' ;
    padding-left: 30px;
}

.indexImg{
    height: 200px;
}

.fondoCeleste{
    background-color: rgba(215,244,243, 0.4);
    
}

.fab{
    color: black;
    font-size: 3rem;
    letter-spacing: 1rem;
}