@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap'); /* font-family: 'Butterfly Kids', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); /* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap'); /* font-family: 'Rufina', serif; */
@font-face {
    font-family: samantha;
    src: url('../font/samantha.ttf') format('truetype');
}


/*CSS GENERAL*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
.centrado{
    margin: 0 auto;
    padding: 0 1em;
    /*max-width: 90vw;*/
}

.navLogo{
    width: 150px;
}

.rufina{
    font-family: 'Rufina', sans-serif;
}
.samantha{
    font-family: 'samantha', true-type;
}
.colorTextoBase{
    color: rgb(175, 124, 32);
}
.separador {
    max-height: 30px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='xMidYMid meet' overflow='visible' height='100%' viewBox='0 0 126 26' fill='rgb(210, 105, 30)' stroke='none'%3E%3Cpath d='M3,10.2c2.6,0,2.6,2,2.6,3.2S4.4,16.5,3,16.5s-3-1.4-3-3.2S0.4,10.2,3,10.2z M18.8,10.2c1.7,0,3.2,1.4,3.2,3.2s-1.4,3.2-3.2,3.2c-1.7,0-3.2-1.4-3.2-3.2S17,10.2,18.8,10.2z M34.6,10.2c1.5,0,2.6,1.4,2.6,3.2s-0.5,3.2-1.9,3.2c-1.5,0-3.4-1.4-3.4-3.2S33.1,10.2,34.6,10.2z M50.5,10.2c1.7,0,3.2,1.4,3.2,3.2s-1.4,3.2-3.2,3.2c-1.7,0-3.3-0.9-3.3-2.6S48.7,10.2,50.5,10.2z M66.2,10.2c1.5,0,3.4,1.4,3.4,3.2s-1.9,3.2-3.4,3.2c-1.5,0-2.6-0.4-2.6-2.1S64.8,10.2,66.2,10.2z M82.2,10.2c1.7,0.8,2.6,1.4,2.6,3.2s-0.1,3.2-1.6,3.2c-1.5,0-3.7-1.4-3.7-3.2S80.5,9.4,82.2,10.2zM98.6,10.2c1.5,0,2.6,0.4,2.6,2.1s-1.2,4.2-2.6,4.2c-1.5,0-3.7-0.4-3.7-2.1S97.1,10.2,98.6,10.2z M113.4,10.2c1.2,0,2.2,0.9,2.2,3.2s-0.1,3.2-1.3,3.2s-3.1-1.4-3.1-3.2S112.2,10.2,113.4,10.2z'/%3E%3C/svg%3E")
}
#indexJose{
    max-width: 350px;
}
/*CSS logo y navegacion*/

/*################          HEADER          #################*/

#logoNav{
    width: 200px;
}

.navBar{
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navMenu {
    justify-content: space-between;
    margin-right: 3vw;
    position: fixed;
    left: -100%;
    top: 9rem;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}
.navMenu.active {
    left: 0;
}
.navItem {
    margin: 2.5rem 0;
}
.navLink{
    font-family: 'samantha';
    font-weight: 600;
    font-size: 1.5rem;
    color:rgb(175, 124, 32);
}
.hamburger {
    display: block;
    cursor: pointer;
    margin-right: 5vw;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(175, 124, 32);
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}
.hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

/*CSS FOOTER, es el mismo para todas las paginas*/
footer{
    margin-top: 10vh;
}
footer .grillaFooter{
    display: grid;
     grid-template-columns: repeat(3, 1fr);
    background: rgb(228,255,201);
    background: radial-gradient(circle, rgba(228,255,201,0.6138830532212884) 0%, rgba(255,255,255,0.5634628851540616) 100%);

}
footer .logo{
    width: 200px;
    padding: 0;
    margin: 0;
}
footer #logo{
    grid-column: 1/4;
    text-align: center;
 }
footer div #redes{
    text-align:center;
    grid-column: 1/4;
}
footer div #redes i{
color: rgb(87, 87, 87);
font-size: 2.5rem;
padding-left: 1vw;
padding-right: 1vw;
}

footer nav{
    grid-column: 1/4;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
 }
 footer #contacto p{
    margin-left: 2rem;
    font-family: "Butterfly kids";
    font-size: 1.5rem;
}
footer #frase{
    text-align: center;
    margin: auto;
}
footer #frase p{
    font-family: "Butterfly kids";   
    font-size: 2rem;
    margin-bottom: 2rem;
}

.creditos{
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;  
    background-color: rgba(128, 128, 128, 0.582);
}
.creditosFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.creditosFlex p, .creditosFlex i, .creditosFlex a {
        text-decoration-line: none;
        color: rgb(73, 73, 73);
}
.creditosFlex i:hover {
    color: black;
}
.typ{
    display: inline;
}

/*CSS ESPECIFICO DE INDEX*/

#indexImgBeater{
    max-width: 75px;   
}
main header div.bannerIndex div div img{
    max-width: 75px;   
}



/*CSS ESPECIFICO DE TIENDA*/
.heroeTienda{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("../img/productos_tienda/smash.PNG") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin-bottom: 3vh;
}
.tituloTienda{
    font-family: "samantha";
    font-size: 4rem;
    color: rgba(193,125,5,255);
    padding: 2rem;
    background:rgba(105, 105, 105, 0.3);
}
.tarjetas {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
}

.tarjeta{
  max-width: 25vw;
  flex: 0 0 25vw;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
  border-radius: 5px;
  background: linear-gradient(325deg, rgba(219,241,232,0.5) 0%, rgb(255, 120, 120) 100%);
} 
.tarjeta h3{
    margin: 1rem 0 1rem 0;
    text-align: center;
}
.tarjeta p{
    overflow: hidden;
}
.tarjeta img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    transition: all 1s;
}
.tarjeta img:hover {
    transform: scale(1.1);
}
.tarjeta .contenido {
    padding: 0 1rem 1rem;
}
.tarjeta .contenido input{
  color: #fff;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
  margin-top: 1rem;
  padding: 0.5rem 1.2rem;
  background: #318aac;
  position: relative;
  border: 2px solid #318aac;
  outline: 1px solid;
  outline-color: rgba(49, 138, 172, 0.4);
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.tarjeta .contenido input:hover {
  box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
  outline-color: rgba(49, 138, 172, 0);
  outline-offset: 80px;
  text-shadow: 1px 1px 6px #fff;
}

/*######################################################################################################################*/
/*######################################################################################################################*/

@media only screen and (min-width: 576px) {

    /*################          HEADER          #################*/
    .navLogo{
        width: 175px;
    }
    .hamburger {
        display: none;
    }
    .redesMenu {
        display: none;
    }
    .navMenu {
        position: static;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        margin-right: 3vw;
        left: 0;
        top: 0;
        width: auto;
        background-color: rgba(255, 255, 255, 0);
        box-shadow:none;
    }
    .navItem {
        font-size: 1rem;
        margin-right: 3vw;
    }
    .navLink{
        font-size: 1.1rem;
    }
    .flexMain{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }
    .flexMain article{
        width: 49%;
        height: 40vh;
        margin-bottom: 2%;
        background-color: rgba(255, 0, 0, 0.308);
        overflow: hidden;
    }
    .flexMain article:nth-child(3n) { /* para cada 3*n elementos article dentro de la clase flex index le aplica esto*/
    width: 100%;
    height: 65vh;
    }
    .creditosFlex{
        flex-direction: row;
    }

}

/*######################################################################################################################*/
/*######################################################################################################################*/

@media only screen and (min-width: 768px) {
 
    /*.carouselImg{
        max-height: 70vh;
        object-fit: cover;
    }*/





}


