.navegacion {
    background-color: whitesmoke;
}

.navegacion__link {
    font-family: $fontAlma, true-type;

}

.navegacion__link--color {
    color: $colorAlma !important;

}

.navegacion__logo {
    width: 150px;
}

.navegacion__logo--margen {
    margin-top: 1rem;
}

.navegacion__hamb--color {
    color: $colorAlma !important;
}