.quienSoy {
    margin-top: 2rem;
    font-family: $fontAlma, true-type;
}

.quienSoy__titulo {
    font-family: $fontAlma, true-type;
}

.quienSoy__titulo--color {
    color: $colorAlma;
}

.quienSoy__parrafo {
    font-family: 'Rufina', true-type;
    color: grey;
    text-align: center !important;
}

.quienSoy__imagen--size {
    width: 70vw;

    @media only screen and (min-width: 768px) {
        width: 400px;
    }

}

.queHacemos {
    /*background-color: whitesmoke;*/
    margin-top: 1.5rem !important;
}

.queHacemos__titulo {
    font-family: $fontAlma, true-type;
}

.queHacemos__titulo--color {
    color: $colorAlma;
}

.queHacemos__subTitulo {
    font-family: $fontAlma, true-type;
    padding-top: 1rem;
}

.queHacemos__subTitulo--color {
    color: $colorAlma;
}

.queHacemos__parrafo {
    font-family: 'Rufina', true-type;
    text-align: center !important;
}

.queHacemos__parrafo--color {
    color: grey;
}

.nosotrosGaleria {
    width: 90%;
    margin: auto;

    div {
        @media only screen and (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (min-width: 992px) {
            grid-template-columns: repeat(6, 1fr);
        }

        display: grid;

        article {
            margin: 1rem * 0.25;

            a {
                img {
                    width: 100%;
                }
            }
        }
    }
}