#nuestrosProductos {
  margin-top: 2rem;
}


.tarjetasTienda {
  width: 95%;
  margin: auto;


  @media only screen and (min-width: 1400px) {
    width: 70vw;
  }

  div {
    padding: 0 1rem 1rem;
    display: grid;

    @media only screen and (min-width: 576px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media only screen and (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }


    article {
      margin: 1rem;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
      border-radius: 5px;
      display: grid;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        h3 {
          margin: 1rem 0 1rem 0;
          text-align: center;
          font-family: 'Rufina', serif;
        }

        p {
          overflow: hidden;
          text-align: center;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }

        input {
          margin-right: auto;
          margin-left: auto;
          display: block;
          justify-self: end;
          color: #fff;
          width: 80%;
          font-size: 1rem;
          font-weight: 500;
          padding: 0.5rem 1.2rem;
          background: $colorAlma;
          position: relative;
          border: 2px solid $colorAlma;
          outline: 1px solid;
          outline-color: $colorAlma;
          transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
        }

        input:hover {
          box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
          outline-color: rgba(49, 138, 172, 0);
          outline-offset: 80px;
          text-shadow: 1px 1px 6px #fff;
        }

      }

      img {
        width: 100%;
        max-width: 100%;
        padding: 1rem;
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10%;
      }

    }
  }
}